@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor for delicious pizzas!</h1>
        <h2 class="mainSubtitle">Now it's a Pizza time.</h2>
        <h2 class="mainSubtitle">Yummy yummy...'</h2>
        <img class="mainImage" src="~/images/DeliciousPizza.jpg" />
    </div>
    <hr />
    <img class="mainImage" src="~/images/Pizza-time.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA!</a>
</div>
