@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor for delicious pizzas!</h1>
    <h2>Razor pizza is for you & me.</h2>
    <hr />
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA!</a>
</div>
