@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">
             Our great selection of Pizzas!</h1>
        <h4>Choose only one or try our Pizza builder! Then Order!</h4>
        <h4>No need to give any of your details!</h4>
        <h4>We already know everthing!"</h4>
        <p class="smallText"><i>Only one pizza per order.</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Create your own Pizza</h3>
                            <p style="text-align: left;">Make your own Pizza with our PizzaMaker!</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomPizza">Try Now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-5">
                <img src="" class="w-100" asp-append-version="true" />
                <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout">Get this Pizza!</a>
                <br/>
            </div>
        </div>
    </div>
</div>