@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">
             Our great selection of Pizzas!</h1>
        <h4>Choose only one or try our Pizza builder! Then Order!</h4>
        <h4>No need to give any of your details!</h4>
        <h4>We already know everthing!"</h4>
        <p class="smallText"><i>Only one pizza per order.</i></p>
    </div>
    <div class="container">

    </div>
</div>