@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">CustomPizza</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>